*{
    font-family: 'Times New Roman', Times, serif;
}

td,tr,table{
    border: 1px solid black;
    border-collapse: collapse;
    color: green;
    padding: 5px 10px;
    text-align: center;
}

#span1{
    color: red;
    font-weight: bold;
}
#rs{
    color: red;
    text-decoration: underline;
}

#ac{
    color: blue;
    font-style: italic;
}
#m{
    color: purple;
}
#i{
    font-style: italic;
}

#h1c{
    color: darkcyan;
}

#span2{
    color:#ff9f34;
}
#span2b{
    color:#ff9f34;
    font-weight: bold;
}
#h1b{
    color: blue;
}

h4{
    color:blue;
    margin-left: 15%;
}
#v{
    color: #868228;
}
#r{
    color: fuchsia;
}

#vs{
    color:#0c8e48;
    text-decoration: underline;
}