*{
    font-family: monospace;
}

body{
    background-color: gray;
}
h1{
    font-size: 32px;
    margin-left: 10%;
}

header{
    background-color: rgb(0, 0, 0);
    font-size: 24px;
}

h1, header, button,input,a{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: #cf8312;
    background: linear-gradient(30deg, #cf8312 10%, #CF1512 30%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


hr{
    height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #666262 inset;
}

article{
    width: 50%;
    height: 100%;
    padding: 0%;
    margin: 0%;
    background-color: rgb(158, 157, 157);
    border: 2px rgb(158, 157, 157) outset;
    border-radius: 5%;
    margin-top: 2%;
    margin-right: 60%;
}

article:hover{
    background-color: rgb(190, 190, 190);
    border: 3px rgb(158, 157, 157) outset;
}
nav{

    margin-left: 15%;
    margin-right: 50%;
    margin-inline-start: 20px;
}

#cabecera{
    background-color: gray;
}

a{
    margin-left: 1%;
    border-radius: 10%;
    font-size: 14px;
    text-decoration: none;
}
a:hover{
    border:1px rgb(230, 78, 23);
    border-style: solid solid dotted solid;
}

form{
    margin: 5%;
}